<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="true" internalLogLevel="Warn" internalLogFile="internal-nlog.txt">

    <!-- Конфигурация для логирования в консоль и в файл -->
    <targets>
        <!-- Логирование в консоль -->
        <target type="Console" name="console"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />

        <!-- Логирование в файл -->
        <target type="File" name="file" fileName="logs/logfile.txt"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}" />
    </targets>

    <rules>
        <!-- Логирование на уровне Info и выше в файл -->
        <logger name="*" minlevel="Info" writeTo="file" />

        <!-- Логирование на уровне Debug и выше в консоль -->
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
